/* NavBar.css */

.button-iniciosesion{
    width: 200px;
    height: 40px;
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(
        to right,
        #794705 0%,
        #ff9100 50%,
        #794705 100%
    );

    border-radius: 6px;
    border: none;
    padding: 0;
}
.barra-navegacion {
  position: sticky;
  top: 0;
  z-index: 1000;
}
.button-iniciosesion:hover {
  transform: translateY(-1px); /* levanta el botón */
  border-color: #ff9100;
  cursor: pointer;
}
.barra-navegacion {
  display: flex;
  justify-content:flex-start;
  align-items: center;
 background-color: #061041ab;
  gap: 100px;
    
  padding: 0 40px;
  height: 120px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}



/* Logo */
.logo-izquierda img {
  height: 90px;
  cursor: pointer;
  border-radius: 16px;
}

/* Lista */
.barra-navegacion ul {
  display: flex;
  list-style: none;
  gap: 100px;
}

/* Items */
.barra-navegacion li {
  font-size: 18px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  cursor: pointer;
  color: #fff;
  position: relative;
  transition: color 0.3s ease;
}

/* Hover efecto gaming simple */
.barra-navegacion li:hover {
  color: #38bdf8; /* celeste brillante */
}

/* Subrayado animado */
.barra-navegacion li::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #38bdf8;
  left: 0;
  bottom: -5px;
  transition: width 0.3s ease;
}

.barra-navegacion li:hover::after {
  width: 100%;
}
 .carrito svg {
  color:white;
}
 .carrito svg:hover {
  color: #38bdf8; /* celeste brillante */
}

.busqueda {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Input */
.busqueda input {
  width: 500px;
  padding: 15px;
  border-radius: 15px;
  border: none;
  outline: none;

  /* color base oscuro */
  background: rgba(10, 15, 44, 0.9);
  color: #fff;

  /* sombra interna + glow */
  box-shadow: 
    inset 2px 2px 6px rgba(0, 0, 0, 0.8),
    inset -2px -2px 6px rgba(255, 255, 255, 0.05),
    0 0 10px rgba(43, 79, 163, 0.4);

  transition: all 0.3s ease;
}

/* Placeholder */
.busqueda input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

/* Efecto al hacer focus */
.busqueda input:focus {
  box-shadow: 
    inset 2px 2px 6px rgba(0, 0, 0, 0.8),
    inset -2px -2px 6px rgba(255, 255, 255, 0.05),
    0 0 15px rgba(0, 140, 255, 0.8);

  transform: scale(1.02);
}
/* Responsive básico */
@media (max-width: 768px) {
  .barra-navegacion {
    padding: 0 20px;
  }

  .barra-navegacion ul {
    gap: 15px;
  }

  .barra-navegacion li {
    font-size: 14px;
  }
}